---

import type { ImageMetadata } from 'astro';
import { imageMetadata } from 'astro/assets/utils';
import { Image } from 'astro:assets';

const { title, description } = Astro.props;
// const images = import.meta.glob<{default: ImageMetadata }>('/src/assets/*.{jpeg, jpg, png, gif}');
// if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---
<div class="card">
    <h2>{title}</h2>
    <p>Age: {description}</p>
    <!-- <Image src={images[imagePath]()} alt={altText} /> -->

</div>

<li>
    <article>
        <!-- <h2>{props.employee}</h2> -->

    </article>
</li>